@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --bg-main: #e1e1e1;
    --bg-card: #d5d5d5;
    --shadow: rgba(0, 0, 0, 0.25);
    --buy-button: #333333;
    --buy-button-hover: #1f1f1f;
    --product-bg: #d6d6d6;
    --product-border: #808080;
    --profile-border: #7e7d7d;
}

body {
    background-color: var(--bg-main);
    font-family: JetBrains Mono, monospace;
}

a {
    color: inherit;
    text-decoration: none;
}

#activePage {
    text-decoration: underline;
}

.navbar {
    background-color: var(--bg-card);
    box-shadow: 0 0 12px 2px var(--shadow);
    padding: 0.3rem 1rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    & .logo {
        justify-self: start;
        display: inline-block;

        & p {
            margin: 0;
            padding: 0;
            line-height: 1;
            font-size: 2.5rem;
            font-weight: 750;
            letter-spacing: -0.25rem;
        }
    }

    & .navlinks {
        display: flex;
        gap: 1.75rem;
        letter-spacing: -0.025rem;
        align-items: center;
        justify-self: center;
    }

    & .basket {
        justify-self: end;

        & img {
            width: 1.75rem;
            height: auto;
        }
    }

    & #profileBasket {
        justify-content: end;
        display: flex;
    }

    & #profile {
        height: fit-content;
        width: fit-content;
        margin-right: 8px;

        & img {
            width: 1.75rem;
            height: auto;
            border: 0.1rem solid var(--profile-border);
            border-radius: 100%;
        }
    }
}

.product {
    border: 1px solid var(--product-border);
    background-color: var(--product-bg);
    grid-template-areas: 
    "product-image product-name"
    "product-image product-price"
    "product-image buybutton"
    "product-image desctitle"
    "product-image product-description";
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: auto auto 1fr auto auto;
    gap: 3rem;
    margin: 5rem auto 0 auto;
    width: 80%;
    max-width: 80rem;
    display: grid;
    align-items: end;
    padding: 1rem;
}

#product-image {
    grid-area: product-image;
    grid-area: product-image;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#product-name {
    grid-area: product-name;
    margin: 0;
}

#product-price {
    grid-area: product-price;
    font-size: x-large;
    margin-top: -2rem;
}

#desctitle {
    grid-area: desctitle;
    text-decoration: underline;
    align-self: end;
    margin-top: 1rem;
}

#product-description {
    grid-area: product-description;
    align-self: end;
    margin-top: -1rem;
}

#buybutton {
    grid-area: buybutton;
    background-color: var(--buy-button);
    width: 100%;
    height: 3rem;
    text-align: center;
    margin-top: 3rem;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 100ms;
}

#buybutton:hover {
    background-color: var(--buy-button-hover);
}

#buybutton:active {
    transform: scale(0.97);
    background-color: var(--buy-button);
}

.dataprivacy {
    text-decoration: underline;
    text-align: center;
    margin-top: 2rem;
}