#content {
    display: flex;
    margin: 1.5rem auto 0 auto;
    align-items: center;
    flex-direction: column;
    max-width: 60%;
}

#inputs {
    margin-top: 1rem;
    text-align: start;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    gap: 1rem;
    max-width: 50%;
}

.flexRow {
    display: flex;
    flex-direction: row !important;
    align-items: center;
}  

#inputs > div {
    display: flex;
    flex-direction: column;
}

#captchaImg {
    width: 10rem;
    margin-bottom: 1rem;
}