.image {
    display: flex;
    justify-content: center;
    max-height: 30rem;
}

.image img {
    width: 50%;
    object-fit: cover;
    float: left;
}

.reviewbody {
    width: 40%;
    margin: 0 auto;
}

.dataprivacy {
    text-decoration: underline;
    text-align: center;
    margin-top: 2rem;
}