.helppage a {
    text-decoration: underline;
}

.dataprivacy {
    text-decoration: underline;
    text-align: center;
    margin-top: 2rem;
}

.helppage {
max-width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.support2 {
    margin-top: 2rem;
}

@media (max-width: 1300px) {
    .helppage {
max-width: 75%;
        margin: 1rem auto;
    }
}

@media (max-width: 832px) {
    .helppage {
max-width: 90%;
        margin: 0 auto;
    }
}
