@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    background-color: var(--bg-main);
    font-family: JetBrains Mono, monospace;
}

a {
    color: inherit;
    text-decoration: none;
}


.articles {
    padding: 0 2rem;
    margin: 3rem auto 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

.articles > a {
    flex: 1;
    min-width: 0;
    max-width: 50rem;
    display: flex;
}

.article {
    background-color: var(--bg-card);
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 12px 2px var(--shadow);
    transition: all 100ms ease-in-out;
}

.article:hover {
    box-shadow: 0 0 12px 2px var(--shadow-hover);
}

.article h2 {
    margin: 0;
}

.article h3 {
    margin: 0;
}

.article img {
    display: block;
    margin: auto auto 0 auto;
    width: 100%;
    height: auto;
    object-fit: contain;
    /* contain damit es rein passt, cover damit es cropped */
    overflow: hidden;
}

#linebreak {
    background-color: var(--lines);
    width: 1px;
}

.line {
    background-color: var(--lines);
    height: 1px;
    width: 100%;
    max-width: 100rem;
    margin: 3rem auto 0 auto;
}

.recommendations {
    padding: 0 2rem;
    margin: 3rem auto 0 auto;
    width: 90%;
    max-width: 90rem;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

#allproducts {
    grid-column: 1 / -1;
    text-decoration: underline;
}

.recommendation {
    background-color: var(--bg-card);
    width: 100%;
    aspect-ratio: 1 / 1;
    padding-left: 1.25rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 12px 2px var(--shadow);
    transition: all 100ms ease-in-out;
    align-items: flex-start;
    overflow: hidden;
}

.recommendation:hover {
    box-shadow: 0 0 12px 2px var(--shadow-hover);
}

.noimgzoom {
    width: 60%;
    height: 60%;
    overflow: hidden;
    flex-shrink: 0
}

.noimgzoom img {
    width: 100%;
    height: 100%;
    transition: transform 200ms ease-in-out;
    object-fit: cover;
}

.recommendation:hover .noimgzoom img {
    transform: scale(1.1);
}

.recommendation p {
    margin-top: auto;
    text-decoration: underline;
}

.dataprivacy {
    text-decoration: underline;
    text-align: center;
    margin-top: 2rem;
}

.videoReviews {
    padding: 0 2rem;
    margin: 3rem auto 0 auto;
    width: 90%;
    max-width: 90rem;
    display: flex;
    flex-direction: column;
}

iframe, video {
    width: 60%;
    height: auto;
    aspect-ratio: 16 / 9;
}

@media (max-width: 1300px) {
    #linebreak {
        display: none;
    }
    .articles {
        flex-direction: column;
        align-items: stretch;
    }
    .articles > a {
        max-width: 100%;
    }
}

@media (max-width: 826px) {
    iframe, video {
        width: 100%;
    }
    .recommendations {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .recommendations {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 0 1rem;
    }
    .recommendation {
        width: 80%;
        margin: 0 auto;
    }
    #allproducts {
        display: block;
        text-align: center;
    }
}
